@model IEnumerable<ISchool.Models.GIANGVIEN>

@{
    ViewBag.Title = "GetAllGiangVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAllGiangVien</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUEQUAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MADV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MACV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAHV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANGTHAIGV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUEQUAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MADV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MACV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAHV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRANGTHAIGV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
